/* lengths */

/* absolute length and relative lengths */

/* px pixel which is 1/96th of an inch */

html {
  /* font-size: 16px; */
}

h1 {
  /* font-size: 96px; */
  /* width and height */
  /* em, rem */
  /* em = set the fontsize against the html fontsize */
  /* font-size: 2em; */
  /* 2 x 16px(html font size) */
}

h2 {
  font-size: 2em;
}

.block {
  font-size: 40px;
}

p {
  /* html fontsize ois 16px . 1em = 1 x 16px */
  font-size: 1rem;
  /* font-size: 24px; */
  /* width: 10em;
  height: 20em; */
}