body {
  /* background-color: #f99; */
}
h1 {
  /* background-color: purple; */
  /* background-color: rgba(120, 0, 100, 1); */
  /* hexadecimal values */
  /* color: #0000ff; */
  /* opacity ranges from 0 to 1 */
  opacity: 1;
  /* RGB */
  /* color: rgb(255, 0, 0); */
  /* color: rgba(255, 0, 0, 0.5); */
  /* HSL Hue saturation and lightness*/
  /* hue is a value between 0 and 360 */
  color: hsl(180, 100%, 50%);
  color: #3131aa;
}
